<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <style>
        .button {
            background-color: #725ac1;
            border: red;
            color: hsl(0, 0%, 100%);
            padding: 100px 80px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 10px;
            margin: 30px 10px;
            cursor: pointer;
        }
        #container {
            position: fixed;
            left: 20%;
            right: 20%;
        }
    </style>
</head>

<body>
    <div id="container">
     <a href="/generate_key" class="button"> Download Your Secret Key </a>
    <a href="/encrypt-folder" class="button">Encrypt Folder </a>
    <a href="/encrypt-file" class="button">Encrypt File </a>
    
    <a href="/decrypt-folder" class="button">Decrypt Folder </a>
    <a href="/decrypt-file" class="button">Decrypt File </a>
    </div>
</body>
</html>







